.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Added by sync script
*.7z
*.avi
*.bin
*.ckpt
*.dmg
*.exe
*.gz
*.h5
*.iso
*.iso.gz
*.joblib
*.mov
*.mp4
*.onnx
*.pb
*.pkg
*.pkl
*.pth
*.pyc
*.t7
*.tar
*.zip
.build/
.env/
.venv/
__pycache__/
bin/
checkpoints/
data/
datasets/
env/
gradio_cached_examples/
models/
node_modules/
obj/
target/
venv/
weights/
